@using RockOut.Demo.Models
@using RockOut.HtmlHelpers
@model ViewModel

@{
    ViewBag.Title = "title";
}

<h2 data-bind="text : Title">@Model.Title</h2>

@RockOut.Ul(

    @RockOut.Foreach(Model, "BulletPoints", li =>
    {
        return RockOut.Li("Label", new Dictionary<string, string> { { "key", "Value" } });
    })
)


<button id="update-button" onclick="update()">update</button>

<script language="javascript" type="text/javascript">

    function ViewModel() {

        this.BulletPoints = [{ Value: "3", Label: "updated" }];

        this.Title = "updated title";
    }

    function update() {

        ko.applyBindings(new ViewModel());
    }

</script>